.light {
  background-color: var(--color-base-white);
  color: var(--color-gray-700);
}

.dark {
  background-color: var(--color-blue-gray-800);
  color: var(--color-base-white);
}

.figure {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-300);
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--color-gray-300);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.list {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

.profile,
.group {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-left: 4px solid transparent;
}

.group:hover,
.group:active {
  border-left: 4px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-gray-100);
}

.item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  font-size: 1.5rem;
}
.link {
  text-indent: 0.5rem;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: var(--font-size-base);
  font-weight: 600;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  transition: all 0.5s;
  box-shadow: 3px 0px 3px #0004;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav::-webkit-scrollbar {
  background-color: rgb(197, 202, 198);
  width: 0.5em;
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
}

.visible {
  width: 275px;
  z-index: 10;
  transition: all 0.3s;
}
.hidden {
  width: 65px;
  z-index: 10;
  transition: all 0.3s;
  animation-name: appear;
  animation-duration: 0.3s;
}

@keyframes appear {
  from {
    filter: brightness(1.1);
  }
  to {
    filter: brightness(1);
  }
}

.colorGreen {
  color: var(--color-green-600);
}

.colorBlue {
  color: var(--color-blue-600);
}

.colorRed {
  color: var(--color-red-600);
}

.colorYellow {
  color: var(--color-orange-600);
}

.colorGray {
  color: var(--color-gray-600);
}

.colorSky {
  color: var(--color-sky-600);
}

.colorViolet {
  color: var(--color-violet-600);
}

.colorPink {
  color: var(--color-pink-600);
}

.colorEsmerald {
  color: var(--color-esmerald-600);
}
