.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-xs);
  padding: var(--spacing-lg);
  gap: 1rem;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--color-gray-300);
  color: var(--color-font-base);
  font-weight: 500;
  font-size: 1.2rem;
}

.phoneInput {
  display: flex;
  width: 100%;
  align-items: center;
}

.buttonClass {
  border: 1px solid gray;
  color: var(--color-gray-800);
  padding: 12px 8px;
}

.phoneInput {
  display: flex;
  align-items: center;
}

/* "w-full items-center justify-end gap-4 pt-6 hidden"
 */

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-md);
  padding: 2rem;
  transition: all 0.3s ease;
  position: relative;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  padding: 0 2rem;
  opacity: 0;
  bottom: 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: flex-end;
  width: 100%;
  background-color: var(--color-base-white);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-md);
  padding: 2rem 1rem;
}

.text {
  color: var(--color-gray-600);
  font-size: 1rem;
  padding: 1rem;
  text-align: right;
}
