.iconLabel {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--color-gray-300);
  padding: 1rem 0;
}

.isClickable {
  cursor: pointer;
}

.icon {
  cursor: pointer;
  padding: 0 0.5rem;
  align-self: center;
}

.label {
  color: var(--color-gray-600);
}

.icon:hover {
  color: var(--color-primary);
}

.normal {
  color: var(--color-gray-600);
}

.info {
  color: var(--color-info);
}

.warning {
  color: var(--color-warning);
}

.error {
  color: var(--color-error);
}

.success {
  color: var(--color-success);
}
