.header {
  width: 100%;
  font-family: var(--font-family-sans);
  line-height: var(--line-height-tight);
}

.base {
  color: var(--color-font-base);
}

.inverted {
  color: var(--color-primary-inverted);
}

.primary {
  color: var(--color-primary);
}

.tertiary {
  color: var(--color-tertiary);
}

.xs {
  font-size: var(--font-size-xs);
}

.sm {
  font-size: var(--font-size-sm);
}

.md {
  font-size: var(--font-size-md);
}

.lg {
  font-size: var(--font-size-lg);
}

.xl {
  font-size: var(--font-size-xl);
}

.xxl {
  font-size: var(--font-size-2xl);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.isCentered {
  text-align: center;
}

.isInline {
  display: inline-block;
  max-width: max-content;
}
