.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  max-width: 350px;
}

.group {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-base-white);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-xs);
}

.title {
  padding: 1rem 1rem;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--color-gray-300);
}

.list {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 3rem;
  gap: 1rem;
  color: var(--color-gray-600);
}
.link:hover {
  background-color: var(--color-gray-100);
}

.link hr {
  outline: none;
  border: none;

  height: 0.5px;
  background-color: var(--color-gray-300);
}
