.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  background-color: var(--color-base-transparent);
  box-shadow: 3px 0px 3px #0004;
}
.table:nth-child(even) {
  background-color: var(--chronometer-background-color);
}

.th {
  text-align: center;
  padding: 12px;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  white-space: nowrap;
}

.td {
  text-align: center;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  white-space: nowrap;
  font-size: var(--font-size-base);
}
