.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  /* background-color: var(--color-base-transparent); */
  box-shadow: 3px 0px 3px #0004;
  border: 1px solid #dddddd;
}
.table:nth-child(even) {
  background-color: var(--chronometer-background-color);
}

.th {
  text-align: left;
  padding: 12px;
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
  white-space: nowrap;
  font-size: var(--font-size-base);
}

.td {
  min-width: 130px;
  height: 52px;
  text-align: left;
  padding: 0 10px;
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
  white-space: nowrap;
  font-size: var(--font-size-base);
}

.headStyles {
  display: flex;
  justify-content: space-between;
}
