.paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: auto;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  gap: 10px 30px;
}

.base {
  color: var(--color-font-base);
}

.inverted {
  color: var(--color-font-inverted);
}

.muted {
  color: var(--color-font-muted);
}

.primary {
  color: var(--color-primary);
}

.tertiary {
  color: var(--color-tertiary);
}

.xs {
  font-size: var(--paragraph-font-size-xs);
}

.sm {
  font-size: var(--paragraph-font-size-sm);
}

.md {
  font-size: var(--paragraph-font-size-md);
}

.lg {
  font-size: var(--paragraph-font-size-lg);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.isStriked {
  text-decoration: line-through;
}

.isInline {
  display: inline-block;
  max-width: max-content;
}

.isMonospace {
  font-family: var(--font-family-mono);
}

.isCentered {
  text-align: center;
}
