.signup {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* grid grid-cols-1 gap-3 lg:grid-cols-2 mt-10 */
.container {
  min-height: 100vh;
  max-width: 1128px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-gap: 2rem;
  padding: 6rem 0;
}

.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.message {
  font-size: 3rem;
  color: var(--color-gray-800);
  text-align: left;
  line-height: 1.2em;
}

/* "text-6xl text-gray-800 font-semibold " */
/* " text-xl text-gray-500 pt-3" */
.subtitle {
  font-size: var(--font-size-xs);
  text-align: justify;
  color: var(--color-gray-500);
  line-height: 2rem;
  padding: 1rem 0;
}

/* "mt-16 w-full pr-32" */

.figure {
  width: 100%;
  max-width: 450px;
}

/* ={{ width: '100%', height: '100%', objectFit: 'cover' }} */

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* "shadow-md w-full  rounded-md p-4" */

.register {
  box-shadow: var(--box-shadow-sm);
  width: 100%;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* w-full  */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
}

/* " flex items-center w-full pt-5 gap-1 justify-center" */

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* "text-gray-500 text-normal text-center" */

.text {
  color: var(--color-gray-500);
  padding: 1rem 0;
  text-align: center;
}

/* "font-medium text-pr" */

.linkText {
  color: var(--color-primary);
  font-weight: 500;
}

/* "py-3 relative flex items-center justify-center text-white bg-pr rounded-md w-full mt-5 hover:bg-green-600" */
.button {
  padding: 12px;
  position: relative;
  width: 100%;
  background-color: var(--color-primary);
  outline: none;
  border-radius: var(--border-radius-xs);
  color: var(--color-base-white);
  font-size: var(--font-size-base);
  border: 1px solid var(--color-primary);
  font-weight: 600;
}

/* " flex items-center  w-full" */

.phone {
  display: flex;
  align-items: center;
  width: 100%;
}

/* "border-t border-l border-b text-gray-800 py-3 px-2" */

.buttonPhone {
  border: 1px solid var(--color-gray-300);
  padding: 12px 16px;
}

.dropdown {
  color: var(--color-gray-500);
  padding: 12px 12px;
}

/* border py-3 ml-14 px-2 w-full text-base  rounded-md font-normal outline-none focus:shadow-md text-gray-700' */

.input {
  padding: 16px 12px;
  /* margin-left: 40px; */
  width: 100%;

  border-radius: var(--border-radius-xs);
  outline: none;
  border: 1px solid var(--color-gray-200);
}

.input > input {
  outline: none;
  border: none;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}

.success {
  border-color: var(--color-success);
}

.error {
  border-color: var(--color-error);
}

.warning {
  border-color: var(--color-warning);
}

.info {
  border-color: var(--color-info);
}

.normal {
  border-color: var(--color-gray-500);
}

@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .message {
    font-size: 4rem;
  }
}
